<?xml version="1.0"?>

<launch>

  <arg name="use_camera_control" default="true" />
  <arg name="world_name" default="$(find dbw_mkz_gazebo)/worlds/sdc.world" />
  <arg name="sim_param_file" default="$(find dbw_mkz_gazebo)/yaml/default_sim_params.yaml" />
  <arg name="urdf_file" default="$(find dbw_mkz_gazebo)/urdf/mkz.urdf.xacro" />
  <arg name="headless" default="false" />
  <arg name="pause" default="false" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(arg world_name)" />
    <!--<arg name="use_camera_control" value="$(arg use_camera_control)" />-->
    <arg name="headless" value="$(arg headless)" />
    <!--<arg name="pause" value="$(arg pause)" />-->
  </include>

  <node pkg="dbw_mkz_gazebo" type="mkz_spawner" name="mkz_spawner" output="screen" >
    <param name="sim_param_file" value="$(arg sim_param_file)" />
    <param name="urdf_file" value="$(arg urdf_file)" />
  </node>

</launch>
